:root {
    --font-size: 2rem;
}

a {
    font-size: calc(1rem*2);
}

.h1, h1 {
    font-size: calc(2rem*2);
    word-break: break-all;
}

.h2, h2 {
    font-size: calc(1.5rem*2);
    word-break: break-all;
}

.h3, h3 {
    font-size: calc(1.17rem*2);
}

.btn, button {
    font-size: calc(1rem*2);
    white-space: normal;
}

.navbar-brand {
    font-size: calc(1rem*2);
}

#home-name p {
    word-break: break-all;
}
