:root {
    --font-text: 'Lato', sans-serif;
    --font-title: 'Montserrat', serif;
    --color-background-grey: #F5F5F5;
    --color-blue: #1C299D;
    --color-button: #3F46AD;
    --color-button-hover: var(--color-blue);
    --color-grey: #6D6F7B;
    --color-link: var(--color-blue);
    --color-text-dark: #323648;
    --color-text-grey: var(--color-grey);
    --color-white: #FFFFFF;
}

a {
    color: var(--color-blue);
}

a:hover {
    color: var(--color-button);
    text-decoration: none;
}

.site-link {
    border-bottom: 1px solid var(--color-blue);
    padding-bottom: 2px;
}

body {
    background-color: var(--white);
    color: var(--color-text-dark);
    font-family: var(--font-text);
    font-size: 1em;
    overflow-x: hidden;
}

button {
    background-color: var(--color-button);
    color: var(--color-white);
}

button:hover {
    background-color: var(--color-button-hover);
}

h2 {
    font-family: var(--font-title);
    font-weight: bold;
    padding: 50px 0px 25px 0px;
}

nav {
    background-color: var(--white);
    margin: auto;
    max-width: 1000px;
    padding: 10px 30px !important;
}

nav li {
    padding: 0px 10px;
}

.border-red {
    border: 1px solid red;
}

.button-text {
    padding: 10px;
}

.color-text-grey {
    color: var(--color-text-grey);
}

.toolbox-item {
    background-color: var(--white);
    height: 150px;
    width: 150px;
    padding: 0px;
    margin: 10px;
}

.toolbox-item:hover {
    background-color: var(--color-blue);
    cursor: pointer;
}

.toolbox-item a {
    color: var(--color-text-dark);
}

.toolbox-item a:hover {
    color: var(--white);
}

.toolbox-item p {
    margin: 0px;
    padding: 0px;
}

.toolbox-item i {
    font-size: 3em;
}

.toolbox-text-spacer {
    line-height: 3em;
}

#home-table {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/home-hero.jpg") no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: calc(100vh - 70px);
    margin: auto;
    min-width: 0px;
    width: 100vw;
}

#home-name {
    font-family: var(--font-title);
    font-weight: bold;
    margin: 0px;
    padding: 50px;
}

#home-name p {
    color: var(--white);
    margin: 0px auto;
    max-width: 1000px;
    padding: 0px;
}

#home-name p:nth-child(1) {
    font-size: 2em;
}

#home-name p:nth-child(2) {
    font-size: 3em;
}

#section-about {
    margin: auto;
    max-width: 1000px;
    padding: 0px 10px;
    text-align: center;
}

#section-about h1 {
    padding-bottom: 25px;
}

#section-about img {
    max-width: 200px;
    padding-bottom: 25px;
}

#section-about .row div {
    padding: 0px 50px;
}

#section-about button {
}

#section-toolbox {
    background-color: var(--color-background-grey);
    padding-bottom: 25px;
    text-align: center;
}

#section-toolbox .row {
    margin: auto;
    max-width: 1000px;
}

#toolbox-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px auto;
}

@media (max-width: 310px) {
    #home-name {
        padding: 0px;
        text-align: center;
    }
}

@media (max-width: 767px) {
    #home-table {
        height: calc(100vh - 56px);
    }
}
