:root {
    --font-text: 'Lato', sans-serif;
    --font-title: 'Montserrat', serif;
    --color-background-grey: #F5F5F5;
    --color-border-grey: #A8A9B0;
    --color-blue: #1C299D;
    --color-blue-light: #8591EA;
    --color-button: #3F46AD;
    --color-button-hover: var(--color-blue);
    --color-grey: #6D6F7B;
    --color-link: var(--color-blue);
    --color-red: #DC3545;
    --color-text-dark: #323648;
    --color-text-grey: var(--color-grey);
    --color-white: #FFFFFF;
}

a {
    color: var(--color-blue);
}

a:hover {
    color: var(--color-button);
    text-decoration: none;
}

body {
    background-color: var(--white);
    color: var(--color-text-dark);
    font-family: var(--font-text);
    font-size: 1em;
    overflow-x: hidden;
}

button {
    background-color: var(--color-button);
    color: var(--color-white);
}

button:hover {
    background-color: var(--color-button-hover);
}

footer {
    margin: 25px 0px 0px 0px;
    padding: 0px;
    text-align: center;
}

footer i {
    color: var(--color-red);
    opacity: 0.75;
}

h2 {
    font-family: var(--font-title);
    font-weight: bold;
    padding: 50px 0px 25px 0px;
}

nav {
    background-color: var(--white);
    margin: auto;
    max-width: 1000px;
    padding: 10px 30px !important;
}

nav li {
    padding: 0px 10px;
}

.badge {
    opacity: 0.75;
}

.border-red {
    border: 1px solid red;
}

.button-text {
    padding: 10px;
}

.btn-alt {
    background-color: var(--white);
    border: 1px solid var(--color-border-grey);
    color: var(--color-text-dark);
}

.btn-alt:hover {
    background-color: var(--white);
    border: 1px solid var(--color-blue);
    color: var(--color-blue);
}

.card {
    margin: 0px 10px 50px 10px;
    width: 350px;
}

.card img {
    opacity: 0.75;
    padding: 10px;
}

.card-body {
    padding: 10px 20px;
}

.card-title {
    font-family: var(--font-title);
    font-weight: bold;
}

.color-blue-light {
    color: var(--color-blue-light);
}

.color-text-grey {
    color: var(--color-text-grey);
}

.fa-external-link-alt {
    font-size: 1em !important;
}

.font-family-text {
    font-family: var(--font-text);
}

.portfolio-dual-buttons {
    margin: 0px;
    padding: 0px;
}

.portfolio-dual-buttons div {
    padding: 0px;
}

.portfolio-dual-buttons button {
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    width: 90%;
}

.site-link {
    border-bottom: 1px solid var(--color-blue);
    padding-bottom: 2px;
}

.text-emoji {
    font-size: 2em;
    line-height: 0em;
    margin: 0px;
    padding: 0px;
}

.toolbox-item {
    background-color: var(--white);
    margin: 10px;
    width: 150px;
}

.toolbox-item:hover {
    background-color: var(--color-blue);
    cursor: pointer;
}

.toolbox-item td {
    padding: 0px;
}

.toolbox-item a {
    display: block;
    color: var(--color-text-dark);
    padding: 20px 0px;
}

.toolbox-item a:hover {
    color: var(--white);
}

.toolbox-item p {
    margin: 0px;
    padding: 0px;
}

.toolbox-item i {
    font-size: 3em;
}

.toolbox-text-spacer {
    line-height: 3em;
}

#home-table {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/home-hero.jpg") no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: calc(100vh - 74px);
    margin: auto;
    min-width: 0px;
    width: 100vw;
}

#home-name {
    font-family: var(--font-title);
    font-weight: bold;
    margin: 0px;
    padding: 50px;
}

#home-name p {
    color: var(--white);
    margin: 0px auto;
    max-width: 1000px;
    padding: 0px;
}

#home-name p:nth-child(1) {
    font-size: 2em;
}

#home-name p:nth-child(2) {
    font-size: 3em;
}

#section-about {
    margin: auto;
    max-width: 1000px;
    padding: 0px 10px;
    text-align: center;
}

#section-about h1 {
    padding-bottom: 25px;
}

#section-about img {
    max-width: 200px;
    padding-bottom: 25px;
}

#section-about .row div {
    padding: 0px 50px;
}

#section-toolbox {
    background-color: var(--color-background-grey);
    text-align: center;
}

#section-toolbox .row {
    margin: auto;
    max-width: 1000px;
}

#toolbox-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px auto;
}

#section-portfolio {
    background-color: var(--color-background-grey);
    padding: 0px 10px;
    text-align: center;
}

#portfolio-items-container {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    max-width: 1200px;
    padding: 25px 0px;
}

#section-social {
    padding: 10px;
    text-align: center;
}

#contact-icons-container {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 25px auto;
    max-width: 300px;
}

#section-social i {
    font-size: 3em;
    margin: 10px 20px;
}

@media (max-width: 310px) {
    #home-name {
        padding: 0px;
        text-align: center;
    }
}

@media (max-width: 369px) {
    .portfolio-item-details {
        padding: 10px 0px;
    }
}

@media (max-width: 575px) {
    .btn-alt {
        margin-top: 15px !important;
    }
}

@media (max-width: 769px) {
    .portfolio-item {
        margin: 0px 10px 25px 10px;
    }
}

@media (max-width: 767px) {
    #home-table {
        height: calc(100vh - 60px);
    }
}
